.login {
  height: 96vh;
  width: 100%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__logo {
  margin-top: -20px;
  margin-bottom: 40px;
  height: 60px;
  width: 40%;
  object-fit: contain;
}

.login__form {
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
}

.login__usernameInput {
  height: 30px;
  width: 100%;
  margin: 10px;
}

.login__passwordInput {
  height: 30px;
  width: 100%;
  margin: 10px;
}

.login__signinBtn {
  color: black;
  font-size: large;
  background-image: linear-gradient(to bottom, #ffc226, #ffd774);
  height: 6vh;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}

.login__signUpDirection {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__signupBtn {
  margin: 10px auto 10px auto;
  padding: 10px 0px 10px 0px;
  border: 1px solid black;
  color: black;
  font-size: large;
  background-image: #dfe2e7;
  height: 10vh;
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}
