.signup {
  height: 96vh;
  width: 100%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup__logo {
  margin-top: -20px;
  margin-bottom: 40px;
  height: 60px;
  width: 40%;
  object-fit: contain;
}

.signup__form {
  width: 80%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border: 1px solid grey;
  /* display: flex; */
  flex-direction: column;
}

.signup__nameInput {
  height: 30px;
  width: 100%;
  margin: 10px;
  border: 1px solid black;
}

.signup__usernameInput {
  height: 30px;
  width: 100%;
  margin: 10px;
  border: 1px solid black;
}

.signup__formTitle {
  height: 6vh;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__passwordInput {
  height: 30px;
  width: 100%;
  margin: 10px;
  border: 1px solid black;
}

.signup__signinBtn {
  color: black;
  font-size: large;
  background-image: linear-gradient(to bottom, #ffc226, #ffd774);
  height: 6vh !important;
  width: 100% !important;
  margin: 10px;
  border-radius: 5px;
}

.signup__signUpDirection {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__signupBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
  padding: 10px 0px 10px 0px;
  border: 1px solid black;
  color: black;
  font-size: large;
  background-image: #dfe2e7;
  height: 6vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
